{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h2>My Orders</h2>

  {% if orders %}
  <table class="table table-bordered table-hover mt-4">
    <thead>
      <tr>
        <th>Order #</th>
        <th>Date</th>
        <th>Status</th>
        <th>Paid</th>
        <th>Total</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>#{{ order.id }}</td>
        <td>{{ order.created_at|date:"M d, Y H:i" }}</td>
        <td>{{ order.get_status_display }}</td>
        <td>{% if order.is_paid %}Yes{% else %}No{% endif %}</td>
        <td>KSh {{ order.get_total }}</td>
        <td><a href="{% url 'order_detail' order.id %}" class="btn btn-sm btn-outline-primary">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>You haven’t placed any orders yet.</p>
  {% endif %}
</div>
{% endblock %}
